.flexible{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start; 
  }

  .flexForm{
      width: 100%;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    align-items:center;
    
    margin-top:15px;
  }

  .optionSuperGroup{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:center;
    align-content:center
  }

  .optionGroup {
    margin:7.5px;
  }

  form {
    background-color: #dadada;
    border-style:solid;
    border-width:2px;
    border-color:#acacac;
    border-radius: 10px;

    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    justify-content:center;
    align-content:center;

    width:400px;
    padding-bottom:10px;
  }
  
  #optionName, #optionBreed, #optionWeight{
      width:360px;
  }
  #optionIntakeNumber{
      width:172px;
  }
  
  #optionCageNumber{
      width:169px;
  }