#flexible {
    display: flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:flex-start;
    align-content:flex-start;
    align-items: flex-start;
    justify-content: center;
}

.flexible {
    display: flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:flex-start;
    align-content:flex-start;
}

#parameters {
    background-color: #dadada;
    padding: 15px;
    margin: 20px;
    border-style:solid;
    border-width:2px;
    border-color:#acacac;
    border-radius: 10px;
}

input[type = "text"] {
    width:125px
}

#resultsBox {
    margin: 20px;
    background-color:#eeeded;
    border-style:solid;
    border-radius:10px;
    border-color:#acacac;
    border-width:2px;
}

#resultsTitle {
    margin: 20px;
}

#result {
    min-width: 500px;
    height: 600px;
    overflow: auto;
}

.result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 3px;
    background-color: #cfcfcf;
    border-style: solid;
    border-color: #acacac;
    border-width: 2px;
    margin: 15px 10px 15px 10px;
}

.animalInfo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.animalName {
}

.animalSubInfo {
    display: flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:flex-start;
    align-content:flex-start;
}

.animalAttributePair {
    border-left: 2px solid #bbb;
    padding-left: 4px;
    margin: 2px;
}

.leftAttributePair {
    width: 200px;
}

.rightAttributePair {
    width: 150px;
}

.animalAttributeName {
    font-weight: bold;
}