
main{
    display: flex;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%)
}

.buttons {
    display: flex;
    flex-direction: column;
}

.navButton {
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;

    width: 150px;
    height: 150px;
    font-size: 20px;

    color: black;
    border-style:solid;
    border-color:#aaa;
    border-width:2px;
    border-radius:10px;
    background: #cacaca;

    cursor: pointer;

    margin: 10px;
}

.navButton:hover,
.navButton:focus {
    background: #aaa;
    border-color:#858585;
}

a {
    all: unset;
}