html {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#header {
    height: 50px;
    width: 100%;
    background: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    margin: 10px;
}

button {
    display: inline-block;
    border-radius: 2px;
    padding: 8px;
    width: 70px;
    margin: 0;
    background: #0060df;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;

    /* make sure no default styling is applied */
    font-size: 13px, regular 400;
    
    height: 36px;
    color: white;
    border: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #003eaa;
}

button:focus {
    outline: 1px solid #aaa;
}

button:active {
    transform: scale(0.95);
}